.menu {
  top: var(--top-0);
  z-index: 3;
  height: var(--height-100percent);
  width: 320px;
  position: fixed;
  background-color: var(--background-color-white);
  transform: translateX(-450px);
  transition: transform .6s ease;
}
.menu-inner {
  top: var(--top-0);
  padding: 20px;
  z-index: 3;
  display: var(--display-f);
  font-size: var(--font-size-30);
  flex-direction: column;
}
.menu-inner__heading{
  display: var(--display-f);
  color: black;
  align-items: center;
  padding: 0px 20px 20px 20px;
  justify-content: space-between;
}
.menu-inner__heading__logo {
  color: black;
  font-size: 50px;
  text-decoration: none;
  cursor: default;
}
.menu-inner__heading__menu-close-button {
  border: var(--border-0);
  height: 40px;
  margin: auto 0;
  cursor: pointer;
  font-size: var(--font-size-20);
  padding: 0px 10px;
  border-radius: 40px;
  background-color: var(--background-color-white);
  border: 1px solid black;
}
.menu-inner__link {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-bottom: 1px solid black;
}
.menu-inner__drop-btn {
  cursor: pointer;
  text-align: start;
  font-size: var(--font-size-30);
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border: var(--border-0);
  border-bottom: 1px solid black;
  background: var(--background-color-colorless);
}
.menu_inner__dropdown-content {
  display: none;
  flex-direction: column;
}
.menu_inner__dropdown-content__link {
  padding: 10px 40px;
  border-bottom: 1px solid black;
  text-decoration: none;
  color: black;
}
.menu-inner__link:active, .menu-inner__heading__menu-close-button:active,.menu_inner__dropdown-content__link:active,.menu-inner__drop-btn:active{
  transform: translateY(1px);
}
.menu-inner__link:hover, .menu-inner__heading__menu-close-button:hover, .menu-inner__link-btn:hover,.menu_inner__dropdown-content__link:hover, .menu-inner__drop-btn:hover{
  background-color: var(--background-color-dim);
}
@media screen and (max-width:450px) {
  .menu {
    width: var(--width-100percent);
  }
}